<!DOCTYPE html>
<html lang="en" ng-app="fixthecode">
<head>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/fixthecode.css' %} " />
  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}

  <title>{% block title %}Fix The Code{% endblock %}</title>
</head>

<body>
  <div id="header"><img src="{% static 'images/logo.png' %}"/></div>
  <div id="navBar">
    <ul>
      <a href="{% url 'home' %}"><li>Home</li></a>
      <a href="{% url 'list_questions' %}"><li>Questions</li></a>
      <a href="{% url 'about' %}"><li>About</li></a>
      <!--<a href="{% url 'home' %}"><li>Sign in</li></a>-->
    </ul>
  </div>
    <div id="content">
      <div class="pageHeading">{% block pageHeading %}{% endblock %}</div>
      {% block content %}{% endblock %}
    </div>
</body>
</html>

