{% extends "base.html" %}

{% block pageHeading %}About{% endblock %}

{% block content %}
<p>
  Fix the code is an open-source online programming game.
  You are welcome to <a href="{% url 'create_question' %}">create new questions</a> and edit existing ones.
  You are also welcome to contribute to the coding and design of this website.
  Please visit the <a href="https://github.com/priomsrb/fixthecode/">github</a> page for access to the source code.
</p>

<p>
  If you wish to contact me, please send me an email at priomsrb at gmail dot com.
</p>
{% endblock %}

