.clear {
  clear: both;
}

body {
  background-color: #FFFFFF;
  font-family: Sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
}

a {
  color: #444;
  text-decoration: none;
  border-bottom: 1px dashed #AAA;
}

a:hover {
  color: #222;
  border-bottom: 1px solid #FFF;
}

#header {
  width: 1200px;
  width: 100%;
  background-color: #AAA;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
  height: 50px;
  border-bottom: 2px solid black;
}

#header img {
    margin-top: 8px;
}

#navBar {
  margin: 70px 50px 10px 30px;
  width: 200px;
  border: 1px solid #777;
  display: inline-block;
  vertical-align: top;
}

#navBar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#navBar li {
  text-align: center;
  margin-right: 0px;
  height: 30px;
  padding-top: 8px;
  margin: 0px;
  background-color: #E5E5E5;
  border-bottom: 1px solid #AAAAAA;
}

#navBar a:last-child li {
    border-bottom: none;
}

#navBar li:hover {
  background-color: #efefef;
}

#navBar li:active {
  background-color: #cccccc;
}

#navBar a {
  color: #111111;
  text-decoration: none;
  font-weight: bold;
}

#content {
  display: inline-block;
  max-width: 900px;
  min-width: 300px;
}

.banner {
  background-color: #333333;
  color: #FFFFFF;
  font-size: 1.5em;
  padding: 10px 50px 40px 50px;
  border-radius: 10px;
}

.banner h1 {
  text-align: center;
  overflow: hidden;
  margin-bottom: 0px;
}

.banner p {
  line-height: 1.5em;
  margin-bottom: 30px;
}

.bigButton {
  display: inline-block;
  padding: 13px;
  width: 140px;
  border: 1px solid #222222;
  border-radius: 8px;
  text-align: center;
  background-color: #AAAAAA;
}

.banner #buttonContainer a {
  color: #000000;
}

.banner #buttonContainer {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

#bigSignIn {
  float: left;
  background-color: #66AAFF;
}

#bigSignIn:hover {
  background-color: #77BBFF;
}

#bigPlayNow {
  float: right;
  background-color: #77EE77;
}

#bigPlayNow:hover {
  background-color: #99FF99;
}

.pageHeading {
  font-size: 40px;
  font-weight: bold;
  min-height: 70px;
}

.createQuestion {
  margin-bottom: 10px;
}

.questionList {
  border-collapse: collapse;
}

.questionList a {
  display: block;
  margin: -7px -17px -7px -17px;
  padding: 7px 17px 7px 17px;
  border: none;
}

.questionList td, .questionList th {
  border: 1px solid #AAA;
  padding: 7px 17px 7px 17px;
}

.questionList td:nth-child(1), .questionList th:nth-child(1) {
    text-align: right;
    width: 40px;
}

.questionList td:nth-child(2), .questionList th:nth-child(2) {
    text-align: left;
    width: 400px;
}

.questionList tr:nth-child(even) {
  background-color: #EEE;
}

.questionList tr:nth-child(odd) {
  background-color: #DDD;
}

.questionList tr:hover {
  box-shadow: inset #333 5px -0px 0 0;
}

.questionList th {
  background-color: #444;
  color: #FFF;
}

.question .sideBar {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}

.question .description {
  border: 1px solid #777;
  background-color: #EEEEEE;
  width: 330px;
  padding: 20px;
  font-size: 16px;
  white-space: pre-wrap;
}

.question .editQuestion {
  text-align:right;
}

.question .nextQuestion {
  display: inline;
  margin-top: 10px;
  float: right;
}
.question .code {
  display: inline-block;
}

.editQuestionForm {
  float: left;
}

.editQuestionForm .field {
  margin-bottom: 15px;
}

.editQuestionForm .field label {
  display: block;
  margin-bottom: 5px;
}

.editQuestionForm .field textarea, .editQuestionForm .field input {
  font-family: monospace;
  font-size: 14px;
}

.editQuestionForm input[type=submit] {
  float: right;
}

h1 {
  font-family: sans-serif;
}

.container {
  text-align: center;
  width: 100%;
}

#programList {
  border: 1px solid #888;
  border-top: 2px solid #888;
  width: 450px;
  margin: 0px auto 25px auto;
  padding: 0px;
  text-align: left;
}

#programList li {
  border: 1px solid #aaa;
  list-style-type: none;

  -moz-user-select: none;

  background: #e5e5e5;

  margin-top: -1px;
  cursor: move;
}

#programList li:hover {
  background: #efefef;
}

#programList li.correct {
  background: #c5ffc5;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: turnGreen;
  animation-duration: 0.5s;
  animation-name: turnGreen;
}
@-webkit-keyframes turnGreen {
  from { background: #e5e5e5; }
  to { background: #c5FFc5; }
}
@keyframes turnGreen {
  from { background: #e5e5e5; }
  to { background: #c5FFc5; }
}

#programList.correct {
  box-shadow: 0px 0px 40px #c5FFc5;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: turnGreenShadow;
  animation-duration: 0.5s;
  animation-name: turnGreenShadow;
}

@-webkit-keyframes turnGreenShadow {
  from { box-shadow: 0px 0px 0px #c5FFc5; } 
  100% { box-shadow: 0px 0px 40px #c5FFc5; } 
}

@keyframes turnGreenShadow {
  from { box-shadow: 0px 0px 0px #c5FFc5; } 
  100% { box-shadow: 0px 0px 40px #c5FFc5; } 
}

#programList.incorrect {
  box-shadow: 0px 0px 0px #AA2222;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: turnRed;
  animation-duration: 1.5s;
  animation-name: turnRed;
}

@-webkit-keyframes turnRed {
  from { box-shadow: 0px 0px 0px #AA2222; } 
  20% { box-shadow: 0px 0px 20px #AA2222; } 
  80% { box-shadow: 0px 0px 20px #AA2222; }
  to { box-shadow: 0px 0px 0px #AA2222; }
}

@keyframes turnRed {
  from { box-shadow: 0px 0px 0px #AA2222; } 
  20% { box-shadow: 0px 0px 20px #AA2222; } 
  80% { box-shadow: 0px 0px 20px #AA2222; }
  to { box-shadow: 0px 0px 0px #AA2222; }
}

#programList li.ui-sortable-helper {
  box-shadow: 0px 0px 10px #888888;
}

#programList li pre, #programList .comment  {
  border: none;
  background: none;
  padding: 12px 10px 12px 0px;
  margin: 0px;
  display: inline-block;
  cursor: move;
  font-size: 20px;
}

#programList.medium li pre, #programList.medium .comment {
  font-size: 16px;
  font-weight: bold;
  padding: 9px 7px 9px 7px;
}

#programList.small li pre, #programList.small .comment {
  font-size: 13px;
  padding: 9px 7px 9px 7px;
}

#programList li pre code {
  font-family: 'Monaco', 'Consolas', monospace;
}

#programList li.commented pre code, #programList li.commented pre code span {
  font-family: 'Monaco', 'Consolas', monospace;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  color: #AAAAAA;
}

#programList .comment {
  font-family: 'Monaco', 'Consolas', monospace;
  padding-right: 10px;
  display: inline-block;
  //visibility: hidden;
  color: #888888;
  cursor: pointer;
  padding: 12px 10px 12px 10px;
}

.checkButton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #000000;

  width: 140px;
  padding: 10px 0px;
  margin-left:auto;
  margin-right:auto;
  display: inline-block;

  -moz-user-select: none;
  cursor: default;

  background: linear-gradient(#f5fbff, #AAAAAA);
  border-radius: 4px;
  border: 1px solid #003366;
  box-shadow:
  0px 1px 3px rgba(000,000,000,0.5),
  inset 0px 0px 1px rgba(255,255,255,1);
}

.checkButton:hover {
  background: linear-gradient(#f5fbff, #BBBBBB);
}

.checkButton:active {
  background: linear-gradient(#BBBBBB, #BBBBBB);
}

.checkButton::-moz-focus-inner {
      border: 0;
}

.checkButton.disabled {
  background: #AAA;
  color: #555555;
}

.greenTick, .redCross{
  position: absolute;
  margin-left: 20px;
  visibility: hidden;
}

.greenTick.shown, .redCross.shown {
  visibility: visible;
  -webkit-animation-name: showTick;
  -webkit-animation-duration: 0.75s;
  animation-name: showTick;
  animation-duration: 0.75s;
}

.redCross.shown {
  -webkit-animation-iteration-count: 2;
  -webkit-animation-direction: alternate;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@-webkit-keyframes showTick {
  from { visibility: hidden; opacity: 0; }
  20% { visibility: visible; opacity: 1; }
  to { visibility: visible; opacity: 1; }
}

@keyframes showTick {
  from { visibility: hidden; opacity: 0; }
  20% { visibility: visible; opacity: 1; }
  to { visibility: visible; opacity: 1; }
}


